@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a href="">@context.User.Identity.Name</a>
                    <a href="" @onclick="LogOut">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="login">Login</a>
                </NotAuthorized>
            </AuthorizeView>


            <a href="">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
        
    </div>
</div>
<BlazoredModal></BlazoredModal>

@code {
    [Inject]
    public AuthenticationStateProvider AuthenticationStateProvider { get; set; }

    private async Task LogOut()
    {
        await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLogedOut();
    }
}