@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.iconColor {
  
    opacity: 0.75;
    padding:0.5px 1px;
}

.iconColor:hover {
    opacity: 1.0;
}
.imageConteiner {
    position: relative;
}

.deleteIconsPos {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index:1;
}

.detailsForm {
    width: 140px;
    padding: 3px;
    font-weight: bold;
    display: inline-block;
   
}

.mainPhoto{
    width:40rem;
    max-height:20rem;
    border:solid 3px black;
}

.mainPhoto_Delete {
    width: 100%;
    height: 16rem;
    border: solid 3px black;
}

.smallPhoto {
    width: 8rem;
    height: 6rem;
    border: solid 1px black;
}

.smallerPhoto {
    width: 4rem;
    height: 3rem;
    border: solid 1px black;
}


html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
