@page "/fileinput"
@using ProductLine.Services
@inject IFileUpload FileUpload
<div class="input-group">
    <div class="custom-file"> 
    <InputFile class="custom-file-input" OnChange="HandelFileSelected" 
               accept="image/jpg, image/png, image/gif"
               id="inputfile"
               ></InputFile>
    <label class="custom-file-label" for="inputfile">Choose file</label>
    </div>
</div>
<div>
    @if (file != null)
    {
        <p>Name :@file.Name</p>
        <p>Size in bytes :@file.Size</p>
        <p>File type :@file.Type</p>
    }
</div>



@code {
    [Parameter]
    public EventCallback<string> OnPhotoSaved { get; set; }
    IFileListEntry file;
    async Task HandelFileSelected(IFileListEntry[] files)
    {
        file = files.FirstOrDefault();
        if (file != null)
        {
            await FileUpload.UploadAsync(file);
            await OnPhotoSaved.InvokeAsync(file.Name);
        }
    }
}
